@use "mixins";

html {
    background-color: blue;
}

main{
    @include mixins.flex-col;
    margin-bottom: 20px;

    #checkoutButton{
        @include mixins.button;
        width: 30%;
        height: 40px;
    }
}
