html {
  color: black;
}

body{
  margin: 0;
}

#product-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

  .game-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    background-color: white;
    border-radius: 5px;
    border: 1.5px solid gray;

    .game-name{
      font-weight: bold;
    }

    .game-img-wrapper{
      width: 80%;

      img{
        width: 100%;
      }
    }

    .game-description{
      width: 90%;
    }

    .buy-div{
      display: flex;
      column-gap: 20px;
      align-items: center;

      .price{
        font-size: 20pt;
      }
  
      .buy-button{
        height: 38px;
      }
    }
  }
}

//Footer SH
footer {
  background-color: black;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20%;

  .footer-menu {
    padding: 0;
  }
  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    text-align: center;
    line-height: 2;
    &:hover {
      color: black;
    }
  }
}
.media {
  display: flex;
  justify-content: center;

  i {
    padding: 15%;
  }
}
