body{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    margin: 0;
    height: 100vh;
    background-color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;

    #infoWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;

        #logoWrapper{
            width: 300px;

            img{
                width: 100%;
            }
        }

        span{
            font-size: 22pt;
        }
    }

    #continueButton{
        width: 200px;
        height: 50px;
        background-color: #5E7E9B;
        border-radius: 10px;
        border: none;
        color: white;
        cursor: pointer;
    }


}